/* required as main div (above topnav) */
.main {
	padding:10px;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.pp_container {
    display: flex;
	margin-top:10px;
}

.pp_viewprofile {
	display: flex;
	padding:7%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.pp_profileblock {
	display:flex;
	height: 353px;
    width: calc(100px + 50vmin);
	background-color:#E8E8E8;
	border-radius: 10px;
	align-items: center;
    text-align: center;
}

.pp_profileblock>div {
	flex:1;
	margin-left: 5%;
	margin-right: 5%;
}

.pp_boldinfo {
	font-weight:bold;
	text-align: left;
    font-size: calc(7px + 1vmin);
}

.pp_info {
	margin-bottom:10px;
	text-align: left;
    font-size: calc(7px + 1vmin);
}

/* Button flexbox */
.pp_buttons {
	margin:5%;
    text-align: center;
}

/* Button designs */
.pp_updatebtn{
	font-family: 'Inter', sans-serif;
	margin: 20px;
	color: #FFFFFF;
    padding: 10px 25px;
	text-decoration: none;
    width: calc(50px + 50vmin);
    /*width: 159px;*/
	background-color: #969696;
    border: 1px solid #969696;
	border-radius: 8px;
	cursor: pointer;
    font-size: calc(7px + 1vmin);
	transition-duration: 0.4s;
}

.pp_updatebtn:hover{
    background-color: #DDDDDD;
	border: 1px solid #DDDDDD;
	color: #747474;
}

.pp_logoutbtn{
	font-family: 'Inter', sans-serif;
	margin: 20px;
	color: #FFFFFF;
    padding: 10px 25px;
	text-decoration: none;
    width: calc(50px + 50vmin);
    /*width: 159px;*/
	background-color: #333333;
    border: 1px solid #333333;
	border-radius: 8px;
	cursor: pointer;
    font-size: calc(7px + 1vmin);
	transition-duration: 0.4s;
}

.pp_logoutbtn:hover{
    background-color: #CCCCCC;
	border: 1px solid #CCCCCC;
	color: #747474;
}