/* required as main div (above topnav) */
.main {
	padding:10px;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.gmlp_container {
    display: flex;
	margin-top:10px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.gmlp_container>div {
	flex:1;
	margin: 5vmin;
	justify-content: center;
	align-items: center;
}

/* Button designs */
.gmlp_btn{
	white-space: nowrap;
	font-family: 'Inter', sans-serif;
	text-align: center;
	padding: 50px;
	width: calc(10px + 50vmin);
	color: #FFFFFF;
	text-decoration: none;
	background-color: #747474;
    border: 1px solid #747474;
	border-radius: 8px;
	cursor: pointer;
    font-size: calc(7px + 1vmin);
	transition-duration: 0.4s;
}

.gmlp_btn:hover{
    background-color: #0077FF;
	border: 1px solid #DDDDDD;
	color: #ffffff;
}
