.vml_mini1{
	background-color: rgb(150, 150, 150);
	width: 100px;
	margin: 10px;
	height: 30px;
  border-radius: 3px;
  cursor: pointer;
}

.vml_mini1:hover{
  background-color: #FFFFFF;
}

.vml_mini2{
	background-color: rgb(150, 150, 150);
	width: 100px;
	margin: 10px;
	height: 30px;
  border-radius: 3px;
}

.vml_mini2:hover{
  background-color: red;
}

.mi_left{
	flex:30%;
	height: 100%;
	margin-top:25%;
}

.mi_right{
	flex:60%;
	text-align: left;
}

.mi_title{
	text-decoration: underline;
	padding-top: 10px;
	font-weight: bolder;
}