.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding:10vmin;
}

.App-header {
  background-color: #474747;;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.go_btn{
	margin: 40px;
	color: #FFFFFF;
  padding: 10px 25px;
	text-decoration: none;
  width: calc(350px + 1vmin);
	background-color: #747474;
  border: 1px solid #747474;
	border-radius: 8px;
	cursor: pointer;
  font-size: calc(10px + 1vmin);
	transition-duration: 0.4s;
}

.go_btn:hover{
  background-color: #CCCCCC;
  color: #747474;
}

select{
  font-family: 'Inter', sans-serif;
  width: calc(350px + 1vmin);
  padding: 10px 10px;
  font-weight:bold;
  font-size: calc(10px + 1vmin);
  color: #333333;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 3px solid #EBEBEB;
  transition: 0.5s;
  border-radius: 8px;
  outline: none;
}

input[type=text],
input[type=password] {
  font-family: 'Inter', sans-serif;
  width: calc(350px + 1vmin);
  padding: 10px 10px;
  font-size: calc(10px + 1vmin);
  color: #333333;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #EBEBEB;
  border: 3px solid #EBEBEB;
  transition: 0.5s;
  border-radius: 8px;
  outline: none;
}

.whitefont {
	color:#FFFFFF;
}


.link {
  color: #FFFFFF;
  font-weight:bold;
  text-decoration: none;
  cursor: pointer;
}
