/* required as main div (above topnav) */
.main {
	padding:10px;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

.emenu_container {
  display: flex;
	margin-top:10px;
}

.emenu_buttonContainer {
	display: flex;
	padding:20px;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  max-height: 500px;
  overflow:auto;
	margin-top:0.2%;
}

.emenu_bold-info {
	font-weight:bold;
	text-align: left;
}

.emenu_info {
	margin-bottom:10px;
	text-align: left;
}

/* Button flexbox */
.emenu_buttons {
	display: flex;
	flex-direction: column;
	margin:1% auto;
	text-align: center;
	max-height: 600px;
  width: calc(250px + 50vmin);
}

/* Button designs */
.emenu_btn{
	font-family: 'Inter', sans-serif;
	margin: 5px;
	color: #FFFFFF;
  padding: 25px 250px;
	text-decoration: none;
  width: calc(250px + 50vmin);
  /*width: 159px;*/
	background-color: rgb(150, 150, 150);
  border: 1px solid rgb(150, 150, 150);
	border-radius: 8px;
	cursor: pointer;
  font-size: calc(7px + 1vmin);
	transition-duration: 0.4s;
}

.emenu_btn:hover{
  background-color: #0077FF;
	border: 1px solid #DDDDDD;
	color: #ffffff;
}

.emenu_add{
	display: flex;
	padding:1%;
	width: 100%;
	margin-top:1%;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
  max-height: 550px;
}

.emenu_addBtn{
	font-family: 'Inter', sans-serif;
	color: #FFFFFF;
	padding: 10px 40px;
	border-radius: 8px;
	background-color: rgb(150, 150, 150);
	border: 1px solid rgb(150, 150, 150);
	font-size: calc(7px + 1vmin);
	cursor: pointer;
}

.emenu_addBtn:hover{
	background-color: #0077FF;
	border: 1px solid #DDDDDD;
	color: #ffffff;
}