.App {
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

/* flex layout context */
.container {
    display: flex;
	margin-top:10px;
}

/* top nav flexbox */
.icon-foc {
	flex:10%;
	height: 10vmin;
	pointer-events: none;
	padding: 10px;
}

.foodonclick {
	flex:85%;
	align-self:center;
	text-align: left;
	color:#474747;
	font-weight:bold;
	font-size: calc(5px + 4vmin);
}

.icon-profile {
	flex:5%;
	align-self: flex-end;
	position: relative;
	cursor:pointer;
	height: 7vmin;
}